---
import LoginLayout from "@lay/LoginLayout.astro";
import Footer from "@comp/Footer.astro";
import { Image } from "astro:assets";
import img from "../assets/logo2.png";
---

<LoginLayout title="Inicio de sesión - FEPLA-CRM">
	<div class="flex justify-center pt-3">
		<Image
			src={img}
			alt="Logo FEPLA-CRM"
			class="w-[125px]"
			loading="eager"
		/>
	</div>
	<main class="grid place-items-center">
		<form
			class="text-center grid place-items-center gap-y-5 py-6 px-10 bg-gray-300 rounded-lg shadow-md w-fit"
		>
			<label class="text-lg">
				Correo electrónico o usuario <br />
				<input
					name="emailusuario"
					type="text"
					placeholder="vjsan@fepla.es"
					class="w-[240px] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
				/>
			</label>
			<label class="text-lg">
				Contraseña <br />
				<input
					name="password"
					type="password"
					placeholder="*********"
					class="w-full text-sm px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
				/>
			</label>
			<span id="loginfail" class="hidden text-red-500 text-sm font-bold">
				Inicio de sesión incorrecto
			</span>
			<button
				id="btnlogin"
				type="submit"
				class="bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
				>Iniciar sesión</button
			>
			<button
				id="btnadmin"
				class="bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
				type="button">Admin</button
			>
			<button
				id="btnscarpy"
				class="bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
				type="button">Scarpy</button
			>
			<button
				id="btnrafa"
				class="bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
				type="button">Rafa</button
			>
			<a href="/" id="enlace">¿Olvidaste tu contraseña?</a>
		</form>
	</main>
	<Footer />
</LoginLayout>

<script is:inline type="module">
	import { apiurl } from "./utils.js";
	const form = document.querySelector("form");
	const loginfail = document.querySelector("#loginfail");
	const $btnlogin = document.querySelector("#btnlogin");

	async function sendData(e) {
		e.preventDefault();
		const data = {
			emailusuario: form.emailusuario.value,
			password: form.password.value,
		};

		$btnlogin.disabled = true;
		$btnlogin.classList.add("bg-gray-400");
		$btnlogin.textContent = "Cargando...";

		const response = await fetch(apiurl + "/login", {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify(data),
		});

		if (loginfail) {
			loginfail.classList.add("hidden");
		}

		if (response.ok) {
			const json = await response.json();
			let texto = "";

			Object.entries(json).forEach(([key, value]) => {
				texto += key + ": " + value + "\n";
			});

			// alert(texto);
			localStorage.setItem("id_active_user", json.id_profesor);
			localStorage.setItem("id_user", json.id_usuario);
			localStorage.setItem("user", json.usuario);
			if (json.rol === "Prof") {
				localStorage.setItem("id_profesor", json.id_profesor);
				window.location.href = "/inicio";
			} else if (json.rol === "Admin") {
				window.location.href = "/admin";
			}
		} else {
			loginfail.classList.remove("hidden");
			$btnlogin.disabled = false;
			$btnlogin.classList.remove("bg-gray-400");
			$btnlogin.textContent = "Iniciar sesión";
		}
	}

	form.addEventListener("submit", sendData);

	const $btnadmin = document.querySelector("#btnadmin");
	const $btnscarpy = document.querySelector("#btnscarpy");
	const $btnrafa = document.querySelector("#btnrafa");

	$btnadmin.addEventListener("click", () => {
		form.emailusuario.value = "admin";
		form.password.value = "admin";
		$btnlogin.click();
	});

	$btnscarpy.addEventListener("click", () => {
		form.emailusuario.value = "scarpy";
		form.password.value = "scarpy";
		$btnlogin.click();
	});

	$btnrafa.addEventListener("click", () => {
		form.emailusuario.value = "Mapachelo";
		form.password.value = "1234";
		$btnlogin.click();
	});
</script>
