---
interface Props {
    num: number;
    texto: string;
    textos?: string;
}

const { num, texto, textos = texto } = Astro.props;
---

<p>
    Hay {num}
    {num === 1 ? texto : textos === texto ? `${textos}s` : textos}.
</p>
