---
interface Props {
    classes?: string;
    checked?: string;
}

const { classes, checked } = Astro.props;
import prisma from "@db/index.js";

const cursos = await prisma.curso.findMany();
---

<div class={classes}>
    <label for="id_curso">
        Curso
        <span class="text-red-600 font-bold">*</span>
    </label>
    <input
        class="bg-gray-700 border border-gray-400 text-white text-sm rounded-lg p-1.5 disabled:cursor-not-allowed disabled:bg-gray-800"
        type="text"
        id="id_curso"
        list="cursos"
        value={checked}
        required
    />
</div>

<datalist id="cursos">
    {
        cursos.map(({ anio_academico, id_curso }) => (
            <option
                value={anio_academico}
                selected={anio_academico === checked}
            >
                {id_curso}
            </option>
        ))
    }
</datalist>
