---
interface Props {
    checked?: string;
    pra?: boolean;
    isrequired?: boolean;
}

const { checked = "Pendiente", pra = false, isrequired = false } = Astro.props;

const roles = ["Prof", "Admin"];
const states = ["Pendiente", "En curso", "Cancelada", "Finalizada"];

const options = pra ? roles : states;
---

<div
    class="flex flex-col p-2 gap-1.5 bg-gray-400 rounded-lg shadow-md drop-shadow-md"
>
    <label for="estado">
        Estado
        {isrequired && <span class="text-red-600 font-bold">*</span>}
    </label>

    {
        isrequired ? (
            <select
                class="bg-gray-700 border border-gray-400 text-white text-sm rounded-lg p-1.5"
                name="estado"
                id="estado"
                required
            >
                {options.map((option) => (
                    <option value={option} selected={option === checked}>
                        {option}
                    </option>
                ))}
            </select>
        ) : (
            <select
                class="bg-gray-700 border border-gray-400 text-white text-sm rounded-lg p-1.5"
                name="estado"
                id="estado"
            >
                {options.map((option) => (
                    <option value={option} selected={option === checked}>
                        {option}
                    </option>
                ))}
            </select>
        )
    }
</div>
