---
import Layout from "@lay/Layout.astro";
import Header from "@comp/Header.astro";
import Footer from "@comp/Footer.astro";
import FormElement from "@comp/FormElement.astro";
import BackBtn from "@comp/BackBtn.astro";
import Empresas from "@comp/Empresas.astro";
import prisma from "@db/index.js";

const { id } = Astro.params;

if (!Number(id)) {
    console.log("Id no válido");
    return Astro.redirect("/404");
}

const empresa = await prisma.empresa.findUnique({
    where: {
        id_empresa: Number(id),
    },
});

if (!empresa) {
    console.log("No hay registro con ese valor");
    return Astro.redirect("/404");
}

/* id_contacto, nombre*, apellidos, telefono, email*, comentarios, fecha_creacion*, fecha_actualizacion */
/* id_contacto_empresa, puesto, fecha_creacion, fecha_actualizacion, id_contacto*, id_empresa* */
---

<Layout title="Nuevo contacto vinculado" kind={1}>
    <Header />
    <main class="grid place-content-center">
        <form
            class="bg-gray-300 rounded-lg shadow-md w-fit py-10 px-8 flex flex-col"
        >
            <fieldset class="grid grid-cols-2 grid-rows gap-2 py-5 px-4">
                <legend
                    class="px-1.5 bg-[#476683] rounded-md text-white text-center text-2xl font-semibold"
                    >Nuevo contacto para <i>{empresa?.nombre}</i></legend
                >
                <FormElement
                    texto="nombre"
                    placehold="Alberto"
                    isrequired={true}
                />
                <FormElement texto="apellidos" placehold="Garcia" />
                <FormElement texto="telefono" placehold="123456789" />
                <FormElement
                    texto="email"
                    placehold="albgarcia@alu.edu.gva.es"
                    type="email"
                />
                <Empresas
                    classes="flex flex-col p-2 gap-1.5 bg-gray-400 rounded-lg shadow-md drop-shadow-md"
                />
                <FormElement texto="puesto" placehold="RRHH" />
                <FormElement
                    classes="col-span-2 w-full"
                    texto="comentarios"
                    placehold="..."
                    type="textarea"
                />
            </fieldset>
            <div class="text-center">
                <button
                    type="submit"
                    id="btnsubmit"
                    class="mx-auto bg-blue-700 hover:bg-blue-800 text-white rounded-lg text-sm px-2 py-2 transition-colors"
                    >Añadir nuevo contacto</button
                >
                <BackBtn />
            </div>
        </form>
    </main>
    <Footer />
</Layout>

<script is:inline type="module">
    import { apiurl, data } from "/utils.js";
    const form = document.querySelector("form");

    async function sendData(e) {
        e.preventDefault();

        let name = form.nombre.value;

        if (!name) {
            alert("El nombre del contacto es obligatorio.");
            return;
        }

        data.nombre = name;
        data.apellidos = form.apellidos.value;
        data.telefono = form.telefono.value;
        data.email = form.email.value;
        data.comentarios = form.comentarios.value;
        data.puesto = form.puesto.value;
        data.id_empresa = parseInt(
            empresas.querySelector(`option[value="${form.id_empresa.value}"]`)
                .textContent,
        );

        Object.keys(data).forEach((key) => {
            if (data[key] == "") data[key] = null;
        });

        const response = await fetch(apiurl + "/contacto/linked", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        });
        alert((await response.json()).message);
        if (response.ok) {
            window.location.reload();
        }
    }

    form.addEventListener("submit", sendData);
</script>
