---
import Layout from "@lay/Layout.astro";
import Header from "@comp/Header.astro";
import Footer from "@comp/Footer.astro";
---

<Layout title="P치gina de administraci칩n" kind={1}>
    <Header admin={true} />
    <main class="flex justify-center items-center flex-row gap-20">
        <div
            class="p-5 border-black border-solid border rounded-lg shadow-lg w-fit bg-slate-300"
        >
            <h1 class="text-3xl font-semibold">P치gina de administraci칩n</h1>
            <hr class="border-black border-solid border-2 m-4" />
            <div class="flex flex-col gap-3 justify-center items-center">
                <a
                    href="/admin/nuevoprof"
                    class="rounded-md shadow-md p-2 w-fit text-white bg-blue-500 hover:bg-blue-700 transition-colors"
                >
                    Nuevo Profesor
                </a>
                <div>
                    <input
                        id="buscador"
                        type="text"
                        placeholder="vjsan"
                        class="w-40 p-2 border border-black rounded-md"
                    />
                    <button
                        id="btnbuscar"
                        class="rounded-md shadow-md p-2 w-fit text-white bg-blue-500 hover:bg-blue-700 transition-colors"
                    >
                        Buscar Profesor
                    </button>
                </div>
                <a
                    href="/admin/listaprof"
                    class="rounded-md shadow-md p-2 w-fit text-white bg-blue-500 hover:bg-blue-700 transition-colors"
                >
                    Lista de profesores
                </a>
                <a
                    href="/admin/registros"
                    class="rounded-md shadow-md p-2 w-fit text-white bg-blue-500 hover:bg-blue-700 transition-colors"
                >
                    Registros
                </a>
            </div>
        </div>
    </main>
    <Footer />
</Layout>

<script is:inline type="module">
    import { apiurl } from "/utils.js";
    const $btnbuscar = document.getElementById("btnbuscar");
    const $buscador = document.getElementById("buscador");

    async function sendData() {
        const data = {
            svalue: $buscador.value,
        };

        const resp = await fetch(apiurl + `/admin/search`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        });

        if (resp.ok) {
            const json = await resp.json();
            window.location.href = `/profesor/${json.id_profesor}`;
        } else {
            alert("Profesor no encontrado.");
        }
    }

    $btnbuscar.addEventListener("click", sendData);
    $buscador.addEventListener("keyup", (e) => {
        if (e.key == "Enter") {
            $btnbuscar.click();
        }
    });
</script>
